<script>
	var pnum = {$pnum};
	{if condition="(isset($filter)) AND ($filter)"}
	var filter = {$filter};
	{/if}
	{if condition="(!isset($search)) OR (!$search)"}
	var search = 0;
	var goUrl = "/{$Request.module}/coupon/lst/filter/"+filter+".html?page="+pnum;
	{else/}
	var search = {$search};
	var goUrl = "/{$Request.module}/coupon/search.html?page="+pnum;
	{/if}
</script>
<!-- 引入多语言切换的js -->
<script src="https://res.zvo.cn/translate/translate.js"></script>
<script>
    translate.setUseVersion2(); //设置使用v2.x 版本
    translate.selectLanguageTag.show = false;
    translate.execute();//进行翻译
</script>

 <script>
 var sy2 = $('td.index:first').text();
 var sy = $('td.index:first').text();

		 var fixHelperModified2 = function(e, tr) {
		      var $originals = tr.children();
		      var $helper = tr.clone();
		      $helper.children().each(function(index) {
		          $(this).width($originals.eq(index).width())
		      });
		      return $helper;
		 },
         
         updateIndex2 = function(e, ui) {
	       	  if(sy2 != sy){
	       		  sy = sy2;
	       	  }
	       	  
              var sort = '';
              var ids = '';
              
              $('td.index', ui.item.parent()).each(function (i) {
           	       if(i==0){
                       $(this).html(sy);
           	       }else{
           		      sy = parseInt(sy)+1;
                      $(this).html(sy);
           	       }
	        	   ids+=$(this).attr('shuxing')+',';
	        	   sort+=$(this).text()+',';
              });
              
              ids = ids.substring(0,ids.length-1);
              sort = sort.substring(0,sort.length-1);
              
              $.ajax({
	              type:'POST',
	              url:"{:url('coupon/paixu')}",
	              data:{'ids':ids,'sort':sort},
	              dataType:'json',
	              success:function(data){
	            	  layer.msg(data.mess, {icon: 1,time: 1000});
	              },
	              error:function(){
	            	  layer.msg('操作失败或您没有权限，请重试', {icon: 2,time: 2000});
	              }
	          });
         };

 $("#sort tbody").sortable({
     helper: fixHelperModified2,
     stop: updateIndex2
 }).disableSelection();
  </script> 
                  
                        <table id="sort" class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th style="width:5%">ID</th>
                                    <th style="width:8%">过期状态</th>
                                    <th style="width:8%">满金额</th>
                                    <th style="width:8%">减金额</th>
                                    <th style="width:10%">开始日期</th>
                                    <th style="width:10%">结束日期</th>
                                    <th style="width:15%">添加时间</th>
                                    <th style="width:8%">上架/下架</th>
                                    <th style="width:5%" class="index">排序</th>
                                    <th style="width:15%">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            {if condition="!empty($list)"}
							{foreach name="list" item="v"}
                                <tr>
                                    <td>{$v.id}</td>
                                    <td>{switch name="v.zhuangtai"}{case value="1"}<font style="color:#1992FC;">正常</font>{/case}{case value="2"}<font style="color:#F00;">已过期</font>{/case}{/switch}</td>
                                    <td>{$v.man_price}&nbsp;元</td>
                                    <td>{$v.dec_price}&nbsp;元</td>
                                    <td>{:date('Y-m-d',$v['start_time'])}</td>
                                    <td>{:date('Y-m-d',$v['end_time'])}</td>
                                    <td>{:date('Y-m-d H:i:s',$v['addtime'])}</td>
                                    <td>
                                    {if condition="$v['onsale'] eq 1"}
                                    <button class="btn btn-primary btn-xs" type="button" onclick="changeTableVal({$v.id},'onsale',this);"><i class="fa fa-check"></i></button>
                                    {elseif condition="$v['onsale'] eq 0"/}
                                    <button class="btn btn-danger btn-xs" type="button" onclick="changeTableVal({$v.id},'onsale',this);"><i class="fa fa-times"></i></button>
                                    {/if}
                                    </td>
                                    <td class="index" shuxing="{$v.id}">{$v.sort}</td>
                                    <td>
                                    <button type="button" class="btn btn-info btn-xs" onclick="coupon_info({$v.id},this);"><i class="fa fa-paste"></i>&nbsp;详细</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="button" class="btn btn-danger btn-xs" onclick="recycle({$v.id},this);"><i class="fa fa-close"></i>&nbsp;加入回收站</button>
                                    </td>
                                </tr>
							{/foreach}
							{else/}
							<tr><td colspan="9" style="text-align:center; font-size:14px;">没有找到相关数据</td></tr>
							{/if}				
                            </tbody>
                        </table>
                        <div class="row"><div class="pagination" style="float:right; margin-right:20px;">{$page}</div></div>