<script>
	var pnum = {$pnum};
	var goUrl = "/{$Request.module}/coupon/hslst.html?page="+pnum;
</script>
<!-- 引入多语言切换的js -->
<script src="https://res.zvo.cn/translate/translate.js"></script>
<script>
    translate.setUseVersion2(); //设置使用v2.x 版本
    translate.selectLanguageTag.show = false;
    translate.execute();//进行翻译
</script>
                        
                        <table id="sort" class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th style="width:10%">过期状态</th>
                                    <th style="width:10%">满金额</th>
                                    <th style="width:10%">减金额</th>
                                    <th style="width:10%">开始时间</th>
                                    <th style="width:10%">结束时间</th>
                                    <th style="width:15%">添加时间</th>
                                    <th style="width:10%">上架/下架</th>
                                    <th style="width:5%" class="index">排序</th>
                                    <th style="width:15%">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            {if condition="!empty($list)"}
							{foreach name="list" item="v"}
                                <tr>
                                    <td>{switch name="v.zhuangtai"}{case value="1"}<font style="color:#1992FC;">正常</font>{/case}{case value="2"}<font style="color:#F00;">已过期</font>{/case}{/switch}</td>
                                    <td>{$v.man_price}&nbsp;元</td>
                                    <td>{$v.dec_price}&nbsp;元</td>
                                    <td>{:date('Y-m-d',$v['start_time'])}</td>
                                    <td>{:date('Y-m-d',$v['end_time'])}</td>
                                    <td>{:date('Y-m-d H:i:s',$v['addtime'])}</td>
                                    <td>
                                    {switch name="v.onsale"}
                                    {case value="1"}
                                    <span style="color:#1992FC;">上架</span>                                                                     
                                    {/case}
                                    {case value="0"}
                                    <span style="color:#1c84c6;">下架</span>   
                                    {/case}
                                    {/switch}
                                    </td>
                                    <td class="index" shuxing="{$v.id}">{$v.sort}</td>
                                    <td>
                                    <button type="button" class="btn btn-success btn-xs" onclick="recovery({$v.id},this);"><i class="fa fa-close"></i>&nbsp;恢复代金券</button>
                                    </td>
                                </tr>
							{/foreach}
							{else/}
							<tr><td colspan="9" style="text-align:center; font-size:14px;">没有找到相关数据</td></tr>
							{/if}				
                            </tbody>
                        </table>
                        <div class="row"><div class="pagination" style="float:right; margin-right:20px;">{$page}</div></div>