<script>
	var pnum = {$pnum};
	{if condition="(isset($filter)) AND ($filter)"}
	var filter = {$filter};
	{/if}
	{if condition="(!isset($search)) OR (!$search)"}
	var search = 0;
	var goUrl = "/{$Request.module}/shops/lst/filter/"+filter+".html?page="+pnum;
	{else/}
	var search = {$search};
	var goUrl = "/{$Request.module}/shops/search.html?page="+pnum;
	{/if}
</script>
<!-- 引入多语言切换的js -->
<script src="https://res.zvo.cn/translate/translate.js"></script>
<script>
    translate.setUseVersion2(); //设置使用v2.x 版本
    translate.selectLanguageTag.show = false;
    translate.execute();//进行翻译
</script>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th style="width:20%">月份</th>
                <th style="width:80%">流水</th>
            </tr>
        </thead>
        <tbody>
        {if condition="!empty($monthTotalTurnover)"}
        {foreach name="monthTotalTurnover" item="v"}
            <tr>
                <td>{$key}</td>
                <td>{$v}元</td>
            </tr>
        {/foreach}
        {else/}
        <tr><td colspan="2" style="text-align:center; font-size:14px;">没有找到相关数据</td></tr>
        {/if}
        </tbody>
    </table>
    <div class="row"><div class="pagination" style="float:right; margin-right:20px;">{$page}</div></div>