<script>
    var pnum = {$pnum};
    {if condition="(isset($filter)) AND ($filter)"}
    var filter = {$filter};
    {/if}
        {if condition="(!isset($search)) OR (!$search)"}
        var search = 0;
        var goUrl = "/{$Request.module}/shop_recharge/lst/filter/"+filter+".html?page="+pnum;
        {else/}
            var search = {$search};
            var goUrl = "/{$Request.module}/shop_recharge/search.html?page="+pnum;
            {/if}
</script>
<!-- 引入多语言切换的js -->
<script src="https://res.zvo.cn/translate/translate.js"></script>
<script>
    translate.setUseVersion2(); //设置使用v2.x 版本
    translate.selectLanguageTag.show = false;
    translate.execute();//进行翻译
</script>
<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <th style="width:20%">店铺名称</th>
        <th style="width:15%">订单状态</th>
        <th style="width:15%">备注</th>
        <th style="width:15%">充值金额</th>
        <th style="width:15%">下单时间</th>
        <th style="width:10%">操作</th>
    </tr>
    </thead>
    <tbody>
    {if condition="$list->isEmpty() == false"}
    {foreach name="list" item="v"}
    <tr>
        <td>{$v.shop_name}</td>
        <td>
            {if condition="$v['checked'] eq 1"}
            <font style="color:#1992FC;">已支付</font>
            {elseif condition="$v['checked'] eq 0"/}
            <font style="color:#FFDD55;">待审核</font>
            {/if}
        </td>
        <td>
            {$v.remarks}
        </td>
        <td>{$v.price}&nbsp元</td>
        <td>{:date('Y-m-d H:i:s',$v['create_time'])}</td>
        <td>
            <button type="button" class="btn btn-primary btn-xs" onclick="checked({$v.id},this);"><i class="fa fa-close"></i>&nbsp;{if condition="$v.checked eq 0"}审核{else}详情{/if}</button>
            <button type="button" class="btn btn-danger btn-xs" onclick="delone({$v.id},this);"><i class="fa fa-close"></i>&nbsp;删除</button>
        </td>
    </tr>
    {/foreach}
    {else/}
    <tr><td colspan="6" style="text-align:center; font-size:14px;">没有找到相关数据</td></tr>
    {/if}
    </tbody>
</table>
<div class="row"><div class="pagination" style="float:right; margin-right:20px;">{$page}</div></div>