<script>
	var pnum = {$pnum};
	{if condition="(isset($filter)) AND ($filter)"}
	var filter = {$filter};
	{/if}
	{if condition="!isset($search) OR !$search"}
	var search = 0;
	var goUrl = "/{$Request.module}/shop_goods/lst/filter/"+filter+".html?page="+pnum;
	{elseif condition="isset($search) && $search" /}
	var search = {$search};
	var goUrl = "/{$Request.module}/shop_goods/search.html?page="+pnum;
	{/if}
</script>
<!-- 引入多语言切换的js -->
<script src="https://res.zvo.cn/translate/translate.js"></script>
<script>
    translate.setUseVersion2(); //设置使用v2.x 版本
    translate.selectLanguageTag.show = false;
    translate.execute();//进行翻译
</script>
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th style="width:5%">id</th>
                                    <th style="width:5%">状态</th>
                                    <th style="width:5%">上架</th>
                                    <th style="width:25%">商品标题</th>
                                    <th style="width:15%">缩略图</th>
                                    <th style="width:20%">所属商家</th>
                                    <th style="width:15%">所属分类</th>
                                    <th style="width:10%">市场价格</th>
                                    <th style="width:10%">销售价格</th>
                                    <th style="width:10%">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            {if condition="$list->isEmpty() == false"}
							{foreach name="list" item="v"} 
                                <tr>
                                    <td>{$v.id}</td>
                                    <td>{switch name="v.checked"}{case value="1"}<font style="color:#1992FC;">正常</font>{/case}{case value="2"}<font style="color:#F00;">违规</font>{/case}{/switch}</td>
                                    <td>{if condition="$v['onsale'] eq 1"}<font style="color:#1992FC;">上架</font>{elseif condition="$v['onsale'] eq 0" /}<font style="color:#F00;">下架</font>{/if}</td> 
                                    <td>{$v.goods_name}</td>
                                    <td><img src="{$v.thumb_url|url_format}" style="width:100px;height: 100px;"></td>
                                    <td>{$v.shop_name}</td>                                 
                                    <td>{$v.cate_name}</td>
                                    <td>{$v.market_price}元</td>
                                    <td>{$v.shop_price}元</td>                                         
                                    <td><button type="button" class="btn btn-success btn-xs" onclick="goods_checked({$v.id},this);"><i class="fa fa-paste"></i>&nbsp;审核</button></td>
                                </tr>
							{/foreach}
							{else/}
							<tr><td colspan="9" style="text-align:center; font-size:14px;">没有找到相关数据</td></tr>
							{/if}								
                            </tbody>
                        </table>
                        <div class="row"><div class="pagination" style="float:right; margin-right:20px;">{$page}</div></div>