<script>
	var pnum = {$pnum};
	{if condition="(!isset($search)) OR (!$search)"}
	var search = 0;
	var goUrl = "/{$Request.module}/shop_recharge/lst.html?page="+pnum;
	{else/}
	var search = {$search};
	var goUrl = "/{$Request.module}/shop_recharge/search.html?page="+pnum;
	{/if}
</script>
<!-- 引入多语言切换的js -->
<script src="https://res.zvo.cn/translate/translate.js"></script>
<script>
    translate.setUseVersion2(); //设置使用v2.x 版本
    translate.selectLanguageTag.show = false;
    translate.execute();//进行翻译
</script>
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th style="width:20%">ID</th>
                                    <th style="width:20%">状态</th>
                                    <th style="width:20%">申请时间</th>
                                    <th style="width:20%">充值金额</th>
                                    <th style="width:20%">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            {if condition="$list->isEmpty() == false"}
							{foreach name="list" item="v"} 
                                <tr>
                                    <td>{$v.id}</td>
                                    {if condition="$v['type'] == 1"}
                                    <td>{if condition="$v['checked'] eq 0"}<span style="color:#1c84c6;">待审核</span>{else/}<span style="color:#1c84c6;">充值成功</span>{/if}</td>
                                    {else/}
                                    <td>{if condition="$v['oper_type'] eq 1"}<span style="color:#1c84c6;">总后台修改[增加]</span>{else/}<span style="color:#1c84c6;">总后台修改[减少]</span>{/if}</td>
                                    {/if}
                                    <td>{:date('Y-m-d H:i:s',$v['create_time'])}</td>
                                    <td>{$v.price}</td>
                                    <td><button type="button" class="btn btn-info btn-xs" onclick="tixianinfo({$v.id},this);"><i class="fa fa-paste"></i>&nbsp;详细</button></td>
                                </tr>
							{/foreach}
							{else/}
							<tr><td colspan="5" style="text-align:center; font-size:14px;">没有找到相关数据</td></tr>
							{/if}						
                            </tbody>
                        </table>
                        <div class="row"><div class="pagination" style="float:right; margin-right:20px;">{$page}</div></div>