<script>
	var pnum = {$pnum};
	{if condition="(isset($filter)) AND ($filter)"}
	var filter = {$filter};
	{/if}
	{if condition="(!isset($search)) OR (!$search)"}
	var search = 0;
	var goUrl = "/{$Request.module}/shop_order/lst/filter/"+filter+".html?page="+pnum;
	{else/}
	var search = {$search};
	var goUrl = "/{$Request.module}/shop_order/search.html?page="+pnum;
	{/if}
</script>
<!-- 引入多语言切换的js -->
<script src="https://res.zvo.cn/translate/translate.js"></script>
<script>
    translate.setUseVersion2(); //设置使用v2.x 版本
    translate.selectLanguageTag.show = false;
    translate.execute();//进行翻译
</script>
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th style="width:6%">ID</th>
                                    <th style="width:16%">订单号</th>
                                    <th style="width:10%">类型</th>
                                    <th style="width:15%">商家名称</th>
                                    <th style="width:10%">订单状态</th>
                                    {if condition="$open_source_goods eq 1"}
                                    <th style="width:9%">货源状态</th>
                                    {/if}
                                    <th style="width:10%">会员姓名</th>
                                    <th style="width:10%">联系电话</th>
                                    <th style="width:10%">订单总价</th>
                                    <th style="width:15%">下单时间</th>                                
                                    <th style="width:10%">操作</th>  
                                </tr>
                            </thead>
                            <tbody>
                            {if condition="$list->isEmpty() == false"}
							{foreach name="list" item="v"} 
                                <tr>
                                    <td>{$v.id}</td>
                                    <td>{$v.ordernumber}</td>
                                    <td>{if condition="$v['order_type'] eq 1"}普通订单{elseif condition="$v['order_type'] eq 2"/}拼团订单{/if}</td>
                                    <td>{$v.shop_name}</td>
                                    <td>

                                        {if condition="$v['state'] eq 1 && $v['fh_status'] eq 0 && $v['order_status'] eq 0"}
                                        <font style="color:#1c84c6;">待发货</font>
                                        {elseif condition="$v['state'] eq 1 && $v['fh_status'] eq 1 && $v['order_status'] eq 0"/}
                                        <font style="color:#1c84c6;">已发货</font>
                                        {elseif condition="$v['state'] eq 1 && $v['fh_status'] eq 1 && $v['order_status'] eq 1"/}
                                        <font style="color:#1992FC;">已完成</font>
                                        {elseif condition="$v['state'] eq 0 && $v['fh_status'] eq 0 && $v['order_status'] eq 0"/}
                                        <font style="color:#1c84c6;">待支付</font>
                                        {elseif condition="$v['order_status'] eq 2"/}
                                        <font style="color:#F00;">已关闭</font>
                                        {elseif condition="$v['order_status'] eq 3"/}
                                        <font style="color:#F00;">已取消</font>
                                        {/if}
                                    </td>
                                    {if condition="$open_source_goods eq 1"}
                                    <td>
                                        {if condition="$v.fh_status eq 0"}
                                        {if condition="$v.source_type eq 1"}
                                        未申请发货
                                        {elseif condition="$v.source_type eq 2"}
                                        已申请发货
                                        {/if}
                                        {elseif condition="$v.fh_status eq 1"}
                                        已发货
                                        {/if}
                                    </td>
                                    {/if}
                                    <td>{$v.user_name}</td>
                                    <td>{$v.phone}</td>
                                    <td>{$v.total_price}&nbsp;元</td>
                                    <td>{:date('Y-m-d H:i:s',$v['addtime'])}</td>
                                    <td>
                                    <button type="button" class="btn btn-success btn-xs" onclick="getinfo({$v.id},this);"><i class="fa fa-pencil"></i>&nbsp;详情</button>
									</td>
                                </tr>
							{/foreach}
							{else/}
							<tr><td colspan="9" style="text-align:center; font-size:14px;">没有找到相关数据</td></tr>
							{/if}						
                            </tbody>
                        </table>
                        <div class="row"><div class="pagination" style="float:right; margin-right:20px;">{$page}</div></div>