<!-- 引入多语言切换的js -->
<script src="https://res.zvo.cn/translate/translate.js"></script>
<script>
    translate.setUseVersion2(); //设置使用v2.x 版本
    translate.selectLanguageTag.show = false;
    translate.execute();//进行翻译
</script>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>发布标题</th>
            <th>发布内容</th>
            <th>关联商品</th>
            <th>关联视频</th>
<!--            <th>点赞数量</th>
            <th>阅读数量</th>-->
            <th>是否显示</th>
            <th>发布时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {if condition="$list->isEmpty() == false"}
        {foreach name="list" item="v"}
        <tr>
            <td>{$v.title}</td>
            <td>{$v.content}</td>
            <td>{$v.goods_name}</td>
            <td>{$v.video_path}</td>
<!--            <td>{$v.praise_num}</td>
            <td>{$v.read_num}</td>-->
            <td>
                {switch name="v.status"}
                {case value="0"}
                <button class="btn btn-danger btn-xs" type="button" onclick="changeTableVal({$v.id}, {$v.status});"><i class="fa fa-times"></i></button>
                {/case}
                {case value="1"}
                <button class="btn btn-primary btn-xs" type="button" onclick="changeTableVal({$v.id}, {$v.status});"><i class="fa fa-check"></i></button>
                {/case}
                {/switch}
            </td>
            <td>{$v.create_time}</td>
            <td>
                <a href="{:url('NewPublish/edit',array('id'=>$v['id']))}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i>&nbsp;编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-danger btn-xs" onclick="delone({$v.id}, this);"><i class="fa fa-close"></i>&nbsp;删除</button></td>
            </td>
        </tr>
        {/foreach}
        {else/}
        <tr><td colspan="10" style="text-align:center; font-size:14px;">没有找到相关数据</td></tr>
        {/if}
    </tbody>
</table>
<div class="row"><div class="pagination" style="float:right; margin-right:20px;">{$page}</div></div>