<tr>
    
    <td>
        <input name="param_title[]" type="text" class="form-control param_title" value=""/>
        <input name="param_id[]" type="hidden" class="form-control" value="{$tag1}"/>
    </td>
    <td><input name="param_value[]" type="text" class="form-control param_value" value=""/></td>
    <td>
        
        <a href="javascript:;" class='btn btn-default btn-sm' onclick="deleteParam(this)"  title="{:lang('删除')}"><i class='fa fa-times'></i></a>
    </td>
</tr>