<!--
 * @Descripttion: 
 * @Author: cbing
 * @Date: 2019-06-10 14:42:00
 * @LastEditors: cbing
 * @LastEditTime: 2019-08-24 18:15:04
 -->
<script>
    var pnum = {$pnum};
    {if condition="(!isset($search)) OR (!$search)"}
    var search = 0;
    var goUrl = "/{$Request.module}/agent/lst.html?page="+pnum;
    {else/}
        var search = {$search};
        var goUrl = "/{$Request.module}/agent/search.html?page="+pnum;
        {/if}
</script>
<!-- 引入多语言切换的js -->
<script src="https://res.zvo.cn/translate/translate.js"></script>
<script>
    translate.setUseVersion2(); //设置使用v2.x 版本
    translate.selectLanguageTag.show = false;
    translate.execute();//进行翻译
</script>
<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <th style="width:5%">ID</th>
        <th style="width:10%">头像</th>
        <th style="width:10%">用户名</th>
        <th style="width:10%">手机号</th>
        <th style="width:10%">邀请码</th>
        <th style="width:10%">分成比例</th>
        <th style="width:15%">添加时间</th>
        <th style="width:8%">正常/禁用</th>
        <th style="width:20%">操作</th>
    </tr>
    </thead>
    <tbody>
    {if condition="$list->isEmpty() == false"}
    {foreach name="list" item="v"}
    <tr>
        <td>{$v.id}</td>
        <td><img src="{$v['headimgurl']}" class="well no-padding no-margins" style="width: 50px; height: 50px;"/></td>
        <td>{if condition="$v['user_name']"}{$v['user_name']}{else/}/{/if}</td>
        <td>{:mix_phone($v['phone'])}</td>
        <td>{$v.invite_code}</td>
        <td>{$v.divide}&nbsp;%</td>
        <td>{:date('Y-m-d H:i:s',$v['addtime'])}</td>
        <td>
            {switch name="v.checked"}
            {case value="0"}
            <button class="btn btn-danger btn-xs" type="button" onclick="changeTableVal({$v.id},'checked',this);"><i class="fa fa-times"></i></button>
            {/case}
            {case value="1"}
            <button class="btn btn-primary btn-xs" type="button" onclick="changeTableVal({$v.id},'checked',this);"><i class="fa fa-check"></i></button>
            {/case}
            {/switch}
        </td>
        <td>
            <button type="button" class="btn btn-primary btn-xs" onclick="edit({$v.id},this);"><i class="fa fa-pencil"></i>&nbsp;编辑</button>
            <button type="button" class="btn btn-danger btn-xs" onclick="delone({$v.id},this);"><i class="fa fa-close"></i>&nbsp;删除</button>
        </td>
    </tr>
    {/foreach}
    {else/}
    <tr><td colspan="8" style="text-align:center; font-size:14px;">没有找到相关数据</td></tr>
    {/if}
    </tbody>
</table>
<div class="row"><div class="pagination" style="float:right; margin-right:20px;">{$page}</div></div>