<script>
	var pnum = {$pnum};
	{if condition="(isset($filter)) AND ($filter)"}
	var filter = {$filter};
	{/if}
	{if condition="(!isset($search)) OR (!$search)"}
	var search = 0;
	var goUrl = "/{$Request.module}/manage_cate/lst/filter/"+filter+".html?page="+pnum;
	{else/}
	var search = {$search};
	var goUrl = "/{$Request.module}/manage_cate/search.html?page="+pnum;
	{/if}
</script>
<!-- 引入多语言切换的js -->
<script src="https://res.zvo.cn/translate/translate.js"></script>
<script>
    translate.setUseVersion2(); //设置使用v2.x 版本
    translate.selectLanguageTag.show = false;
    translate.execute();//进行翻译
</script>
                  
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th style="width:10%">状态</th>
                                    <th style="width:15%">经营类目名称</th>
                                    <th style="width:20%">店铺名称</th>
                                    <th style="width:20%">申请时间</th>
                                    <th style="width:20%">审核时间</th>
                                    <th style="width:15%">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            {if condition="$list->isEmpty() == false"}
							{foreach name="list" item="v"}
                                <tr>
                                    <td>{switch name="v.checked"}{case value="0"}<font style="color:#1c84c6;">待审核</font>{/case}{case value="1"}<font style="color:#1992FC;">已通过</font>{/case}{case value="2"}<font style="color:#F00;">已拒绝</font>{/case}{/switch}</td>
                                    <td>{$v.cate_name}</td>
                                    <td>{$v.shop_name}</td>
                                    <td>{:date('Y-m-d',$v['apply_time'])}</td>
                                    <td>{if condition="$v['checked_time']"}{:date('Y-m-d',$v['checked_time'])}{/if}</td>
                                    <td>
                                    {if condition="$v['checked'] eq 0"}<button type="button" class="btn btn-primary btn-xs" onclick="manage_checked({$v.id},this);"><i class="fa fa-pencil"></i>&nbsp;审核</button>&nbsp;&nbsp;&nbsp;&nbsp;{/if}
                                    <button type="button" class="btn btn-info btn-xs" onclick="manage_info({$v.id},this);"><i class="fa fa-paste"></i>&nbsp;详细</button>
                                    </td>
                                </tr>
							{/foreach}
							{else/}
							<tr><td colspan="9" style="text-align:center; font-size:14px;">没有找到相关数据</td></tr>
							{/if}				
                            </tbody>
                        </table>
                        <div class="row"><div class="pagination" style="float:right; margin-right:20px;">{$page}</div></div>