<div class="panel-body">
  <div class="form-group">
    <label class="col-sm-2 control-label"></label>
    <div class="col-sm-6">
      <div class="tabs-container">
        <ul class="nav nav-tabs">
          {foreach name="langs" item="v"}
          <li {if condition="$key eq 0"}class="active" {else} class="" {/if}><a data-toggle="tab" onclick="set_lang({$v.id});" aria-expanded="true">{$v.lang_name}</a></li>
          {/foreach}
        </ul>

      </div>
    </div>
    <label class="col-sm-1 tip-label">*</label>
  </div>

  {foreach name="langs" item="v"}
  <div class="form-group" id="goods_name_{$v.id}">
    <label class="col-sm-2 control-label">{:lang('商品名称')}({$v.lang_name}):</label>
    <div class="col-sm-6">
      {if condition="!empty($goodsLangs)"}
      <input type="text" name="goods_name_{$v.lang_code}" class="form-control" value="{$goodsLangs[$key][goods_name]}">
      {else}
      <input type="text" name="goods_name_{$v.lang_code}" class="form-control" value="{$goodss.goods_name}">
      {/if}
    </div>
    <label class="col-sm-1 tip-label">*</label>
  </div>
  {/foreach}
  <div class="hr-line-dashed"></div>

  <div class="form-group">
    <label class="col-sm-2 control-label">{:lang('所属平台分类')}:</label>

    <div class="col-sm-6">
      <select class="form-control m-b" name="cate_id" id="cate_id">
        <option value="">{:lang('请选择')}</option>
        {foreach name="cateres" item="v"}
        <option value="{$v.id}" {if condition="$v['tjgd'] eq 0"}disabled="" style="color:#a5a3a3;"{/if} {if condition="$goodss['cate_id'] eq $v['id']"}selected="selected"{/if}>{:str_repeat('&nbsp;&nbsp;&nbsp;&nbsp;', $v['level'])}{if condition='$v["level"] gt 0'}|{/if}{$v.html}{:lang($v.cate_name)}</option>
        {/foreach}
      </select>
    </div>
    <label class="col-sm-1 tip-label">*</label>
  </div>
  <div class="hr-line-dashed"></div>

  <div class="form-group">
    <label class="col-sm-2 control-label">{:lang('所属品牌')}:</label>
    <div class="col-sm-6">
      <select class="form-control m-b" name="brand_id" id="brand_id">
        <option value="">{:lang('请选择')}</option>
        {foreach name="brandres" item="v"}
        <option value="{$v.id}" {if condition="$goodss['brand_id'] eq $v['id']"}selected="selected"{/if}>{:lang($v.brand_name)}</option>
        {/foreach}
      </select>
    </div>
  </div>
  <div class="hr-line-dashed"></div>

  <div class="form-group">
    <label class="col-sm-2 control-label">{:lang('所属店铺分类')}:</label>

    <div class="col-sm-6">
      <select class="form-control m-b" name="shcate_id">
        <option value="">{:lang('请选择')}</option>
        {foreach name="shcateres" item="v"}
        <option value="{$v.id}" {if condition="$goodss['shcate_id'] eq $v['id']"}selected="selected"{/if}>{:str_repeat('&nbsp;&nbsp;&nbsp;&nbsp;', $v['level'])}{if condition='$v["level"] gt 0'}|{/if}{$v.html}{:lang($v.cate_name)}</option>
        {/foreach}
      </select>
    </div>
    <label class="col-sm-1 tip-label">*</label>
  </div>
  <div class="hr-line-dashed"></div>

  <div class="form-group">
    <label  class="col-sm-2 control-label">{:lang('缩略图')}:</label>
    <div class="col-sm-6">
      <div style="margin-bottom:7px; margin-top:5px;">
        <img id="imageinfo" {if condition="$goodss['thumb_url']"}src="{$goodss.thumb_url}"{else/}src="__PUBLIC__/admin/img/nopic.jpg"{/if} width="180" height="180" border="0" />
        <br/><button type="button" class="btn btn-danger btn-xs del" style="display:none;">{:lang('删除')}</button>
      </div>
      <div id="uploaderInput"></div>
      <input type="hidden" name="goods_thumb" value="" >
      <div class="goods_thumb" style="display:none;">{$goodss.thumb_url}</div>
    </div>
  </div>
  <div class="hr-line-dashed"></div>

  <div class="form-group">
    <label class="col-sm-2 control-label">{:lang('市场价格')}:</label>
    <div class="col-sm-6">
      <input type="text" name="market_price" class="form-control" value="{$goodss.market_price}">
    </div>
    <label class="col-sm-1 tip-label">*</label>
  </div>
  <div class="hr-line-dashed"></div>

  <div class="form-group">
    <label class="col-sm-2 control-label">{:lang('销售价格')}:</label>
    <div class="col-sm-6">
      <input type="text" name="shop_price" class="form-control" value="{$goodss.shop_price}">
    </div>
    <label class="col-sm-1 tip-label">*</label>
  </div>
  <div class="hr-line-dashed"></div>
  {if(!empty($goodss.related_goods_id))}
  <div class="form-group">
    <label class="col-sm-2 control-label">{:lang('进货价格')}:</label>
    <div class="col-sm-6">
      <input type="text" disabled="disabled" name="purchase_price" class="form-control" value="{$goodss.purchase_price}">
    </div>
    <label class="col-sm-1 tip-label">*</label>
  </div>
  <div class="hr-line-dashed"></div>
  {/if}
  {if($goodss.taobao_url)}
  <div class="form-group">
    <label class="col-sm-2 control-label">{:lang('商品详情')}url:</label>
    <div class="col-sm-6">
      <a href="{$goodss.taobao_url}" target="_blank">{$goodss.taobao_url}</a>
    </div>
    <label class="col-sm-1 tip-label">*</label>
  </div>
  <div class="hr-line-dashed"></div>
  {/if}

  <div class="form-group">
    <label class="col-sm-2 control-label">{:lang('搜索关键字')}:</label>
    <div class="col-sm-6">
      <textarea name="search_keywords" class="form-control">{$goodss.search_keywords}</textarea>
    </div>
    <label class="col-sm-2" style="padding-top:7px; color:#333; font-size:12px;">({:lang('多个以英文,号隔开')})</label>
  </div>
  <div class="hr-line-dashed"></div>

  <div class="form-group">
    <label class="col-sm-2 control-label">{:lang('关键字')}:</label>
    <div class="col-sm-6">
      <input type="text" name="keywords" class="form-control" value="{$goodss.keywords}">
    </div>
  </div>
  <div class="hr-line-dashed"></div>

  <div class="form-group">
    <label class="col-sm-2 control-label">{:lang('简单描述')}:</label>
    <div class="col-sm-6">
      <textarea name="goods_brief" class="form-control">{$goodss.goods_brief}</textarea>
    </div>
  </div>
  <div class="hr-line-dashed"></div>

  <div class="form-group">
    <label class="col-sm-2 control-label">{:lang('成交量')}:</label>
    <div class="col-sm-6">
      <input type="text" name="deal_num" class="form-control" value="{$goodss.deal_num}">
    </div>
    <label class="col-sm-1 tip-label">*</label>
  </div>
  <div class="hr-line-dashed"></div>

  <div class="form-group">
    <label class="col-sm-2 control-label">{:lang('服务项')}：</label>
    <div class="col-sm-6">
      <ul style="list-style-type:none; padding-left:0px; margin-top:5px;">
        {foreach name="sertionres" item="v"}
        <li style="margin-bottom:10px; margin-right:15px; float:left;"><input type="checkbox" name="fuwu[]" {if condition="strpos(','.$goodss['fuwu'].',',','.$v['id'].',') !== false"}checked="checked"{/if} value="{$v.id}"><b>{$v.ser_name}</b></li>
        {/foreach}
      </ul>
    </div>
  </div>
  <div class="hr-line-dashed"></div>

  <div class="form-group radio-wrap">
    <label class="col-sm-2 control-label">{:lang('是否上架')}:</label>
    <div class="col-sm-6">
      <label class="radio-inline"><input type="radio" name="onsale" {if condition="$goodss['onsale'] eq 1"}checked="checked"{/if} value="1">{:lang('是')}</label>
      <label class="radio-inline"><input type="radio" name="onsale" {if condition="$goodss['onsale'] eq 0"}checked="checked"{/if} value="0">{:lang('否')}</label>
    </div>
  </div>
  <div class="hr-line-dashed"></div>

  <div class="form-group radio-wrap">
    <label class="col-sm-2 control-label">{:lang('设为新品')}:</label>
    <div class="col-sm-6">
      <label class="radio-inline"><input type="radio" name="is_new" {if condition="$goodss['is_new'] eq 1"}checked="checked"{/if} value="1">{:lang('是')}</label>
      <label class="radio-inline"><input type="radio" name="is_new" {if condition="$goodss['is_new'] eq 0"}checked="checked"{/if} value="0">{:lang('否')}</label>
    </div>
  </div>
  <div class="hr-line-dashed"></div>


  <div class="form-group radio-wrap">
    <label class="col-sm-2 control-label">{:lang('设为特价')}:</label>
    <div class="col-sm-6">
      <label class="radio-inline"><input type="radio" name="is_special" {if condition="$goodss['is_special'] eq 1"}checked="checked"{/if} value="1">{:lang('是')}</label>
      <label class="radio-inline"><input type="radio" name="is_special" {if condition="$goodss['is_special'] eq 0"}checked="checked"{/if} value="0">{:lang('否')}</label>
    </div>
  </div>
  <div class="hr-line-dashed"></div>

  <div class="form-group radio-wrap">
    <label class="col-sm-2 control-label">{:lang('设为热销')}:</label>
    <div class="col-sm-6">
      <label class="radio-inline"><input type="radio" name="is_hot" {if condition="$goodss['is_hot'] eq 1"}checked="checked"{/if} value="1">{:lang('是')}</label>
      <label class="radio-inline"><input type="radio" name="is_hot" {if condition="$goodss['is_hot'] eq 0"}checked="checked"{/if} value="0">{:lang('否')}</label>
    </div>
  </div>
  <div class="hr-line-dashed"></div>

  <div class="form-group radio-wrap">
    <label class="col-sm-2 control-label">{:lang('设为推荐')}:</label>
    <div class="col-sm-6">
      <label class="radio-inline"><input type="radio" name="is_recommend" {if condition="$goodss['is_recommend'] eq 1"}checked="checked"{/if} value="1">{:lang('是')}</label>
      <label class="radio-inline"><input type="radio" name="is_recommend" {if condition="$goodss['is_recommend'] eq 0"}checked="checked"{/if} value="0">{:lang('否')}</label>
    </div>
  </div>
  <div class="hr-line-dashed"></div>

  <div class="form-group radio-wrap">
    <label class="col-sm-2 control-label">{:lang('设为直播间商品')}:</label>
    <div class="col-sm-6">
      <label class="radio-inline"><input type="radio" name="is_live" {if condition="$goodss['is_live'] eq 1"}checked="checked"{/if} value="1">{:lang('是')}</label>
      <label class="radio-inline"><input type="radio" name="is_live" {if condition="$goodss['is_live'] eq 0"}checked="checked"{/if} value="0">{:lang('否')}</label>
    </div>
  </div>
  <div class="hr-line-dashed"></div>

  <div class="form-group radio-wrap">
    <label class="col-sm-2 control-label">{:lang('放入回收站')}:</label>
    <div class="col-sm-6">
      <label class="radio-inline"><input type="radio" name="is_recycle" {if condition="$goodss['is_recycle'] eq 1"}checked="checked"{/if} value="1">{:lang('是')}</label>
      <label class="radio-inline"><input type="radio" name="is_recycle" {if condition="$goodss['is_recycle'] eq 0"}checked="checked"{/if} value="0">{:lang('否')}</label>
    </div>
  </div>
  <div class="hr-line-dashed"></div>

</div>
<script>
  $(function () {
    {foreach name="langs" item="v"}
    if({$key} == 0){
      $('#goods_name_'+{$v.id}).show();
    }else{
      $('#goods_name_'+{$v.id}).hide();
    }
    {/foreach}
    });

    function set_lang(langId){
      $('#goods_name_'+langId).show();
      {foreach name="langs" item="v"}
      if(langId != {$v.id}){
        $('#goods_name_'+{$v.id}).hide();
      }
      {/foreach}
      }
</script>