<script>
	var pnum = {$pnum};
	{if condition="(isset($filter)) AND ($filter)"}
	var filter = {$filter};
	{/if}
	{if condition="(!isset($search)) OR (!$search)"}
	var search = 0;
	var goUrl = "/{$Request.module}/feedback_help/lst/filter/"+filter+".html?page="+pnum;
	{else/}
	var search = {$search};
	var goUrl = "/{$Request.module}/feedback_help/search.html?page="+pnum;
	{/if}
</script>
<!-- 引入多语言切换的js -->
<script src="https://res.zvo.cn/translate/translate.js"></script>
<script>
    translate.setUseVersion2(); //设置使用v2.x 版本
    translate.selectLanguageTag.show = false;
    translate.execute();//进行翻译
</script>
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th style="width:5%"><input type="checkbox" id="checkAll"/></th>
                                    <th style="width:5%">id</th>
                                    <th style="width:5%">类型</th>
                                    <th style="width:17%">内容</th>
                                    <th style="width:17%">图片</th>
                                    <th style="width:10%">用户昵称</th>
                                    <th style="width:10%">手机号</th>
                                    <th style="width:10%">反馈时间</th>
                                    <th style="width:10%">状态</th>
                                    <th style="width:10%">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            {if condition="$list->isEmpty() == false"}
							{foreach name="list" item="v"} 
                                <tr>
                                    <td><input type="checkbox" class="text_id" name="id[]" value="{$v.id}" /></td>
                                    <td>{$v.id}</td>
                                    <td>{$v.title}</td>
                                    <td>{$v['content']}</td>
                                    <td>
                                        {foreach name="$v.pathurl" item="v1"}
                                        <a class="fancybox" href="{$v1.pathurl}" title="{$v.title}">
                                            <img src="{$v1.pathurl}" style="max-width:100px; max-height: 100px;" onerror="this.src='__PUBLIC__/admin/img/nopic.jpg'"/>
                                        </a>
                                        {/foreach}
                                    </td>
                                    <td>{$v.user_name}</td>
                                    <td>{$v.phone}</td>
                                    <td>{:date('Y-m-d H:i:s',$v['time'])}</td>
                                    <td>{if condition="$v['reply'] eq 0"}<span style="color:#1c84c6;">待回复</span>{elseif condition="$v['reply'] eq 1"/}<span style="color:#1992FC;">已回复</span>{/if}</td>
                                    <td>
                                    <button type="button" class="btn btn-success btn-xs" onclick="adminreply({$v.id},this);"><i class="fa fa-paste"></i>&nbsp;回复</button>
                                    &nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-danger btn-xs" onclick="delone({$v.id},this);"><i class="fa fa-close"></i>&nbsp;删除</button>
                                    </td>
                                </tr>
							{/foreach}
							{else/}
							<tr><td colspan="7" style="text-align:center; font-size:14px;">没有找到相关数据</td></tr>
							{/if}						
                            </tbody>
                        </table>
                        <div class="row"><div class="pagination" style="float:right; margin-right:20px;">{$page}</div></div>