<!--
 * @Descripttion: 
 * @Copyright: 武汉一一零七科技有限公司©版权所有
 * @Link: www.s1107.com
 * @Contact: QQ:2487937004
 * @LastEditors: cbing
 * @LastEditTime: 2020-05-01 18:40:18
 -->
<script>
	var pnum = {$pnum};
	{if condition="(isset($filter)) AND ($filter)"}
	var filter = {$filter};
	{/if}
	{if condition="!isset($search) && !isset($cate_id)"}
	var search = 0;
	var cate_id = 0;
	var goUrl = "/{$Request.module}/goods/lst/filter/"+filter+".html?page="+pnum;
	{elseif condition="isset($search) && $search" /}
	var search = {$search};
	var cate_id = 0;
	var goUrl = "/{$Request.module}/goods/search.html?page="+pnum;
	{elseif condition="isset($cate_id) && $cate_id" /}
	var cate_id = {$cate_id};
	var search = 0;
	var goUrl = "/{$Request.module}/goods/catelist/cate_id/"+cate_id+"/filter/"+filter+".html?page="+pnum;
	{/if}

    $(function(){
        $("#checkAll").click(function () {
            $("input[class='text_id']:checkbox").prop("checked", this.checked);
        });
    });
</script>
<!-- 引入多语言切换的js -->
<script src="https://res.zvo.cn/translate/translate.js"></script>
<script>
    translate.setUseVersion2(); //设置使用v2.x 版本
    translate.selectLanguageTag.show = false;
    translate.execute();//进行翻译
</script>
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th style="width:5%"><input type="checkbox" id="checkAll"/></th>
                                    <th style="width:5%">ID</th>
                                    <th style="width:20%">商品标题</th>
                                    <th style="width:8%">缩略图</th>
                                    <th style="width:10%">所属分类</th>
                                    <th style="width:8%">市场价格</th>
                                    <th style="width:8%">销售价格</th>
                                    {if condition="isplugin('supplier')"}
                                    <th style="width:8%">商品来源(供货商)</th>
                                    <th style="width:8%">状态(供货商)</th>
                                    {/if}
                                    <th style="width:15%">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            {if condition="$list->isEmpty() == false"}
                                {foreach name="list" item="v"} 
                                <tr>
                                    <td><input type="checkbox" id="goods_id" class="text_id" name="id[]" value="{$v.id}" /></td>
                                    <td>{$v.id}</td>
                                    <td>
                                            {if($v.integral_cate == 1)}
                                            <div class="integral-box">
                                                积分商品：积分抵扣金额
                                            </div>
                                            {elseif($v.integral_cate == 2)/}
                                            <div class="integral-box">
                                                积分商品：积分+商品金额
                                            </div>
                                            {elseif($v.integral_cate == 3)/}
                                            <div class="integral-box">
                                                积分商品：积分换购
                                            </div>
                                            {/if}
                                        </div>
                                        {$v.goods_name}
                                    </td>   
                                    <td>
                                        <img src="{$v.thumb_url}" width="80px" height="80px"/>
                                    </td>                                   
                                    <td>{$v.cate_name}</td>
                                    <td>{$v.market_price}元</td>
                                    <td>{$v.shop_price}元</td>
                                    {if condition="isplugin('supplier')"}
                                    <td>{$v.supplier_name}</td>
                                    <td>
                                        {if condition="$v['supplier_check'] eq 1"}
                                        <span style="color:green">正常</span>
                                        {elseif condition="$v['supplier_check'] eq 0" /}
                                        <span style="color:blue">待审核</span>
                                        {elseif condition="$v['supplier_check'] eq -1" /}
                                        <span style="color:red">审核不通过</span>
                                        {/if}
                                    </td>
                                    {/if}
                                    <td>
                                        {if condition="isplugin('supplier')"}
                                        {if condition="$v['supplier_check'] eq 0 and $v['supplier_id'] neq 0"}
                                        <button type="button" class="btn btn-primary btn-xs" onclick="checkSupplierGoods({$v.id},this);"><i class="fa fa-lock"></i>&nbsp;审核商品</button>
                                        {/if}
                                        {/if}
                                        <button type="button" class="btn btn-primary btn-xs" onclick="editgoods({$v.id},this);"><i class="fa fa-pencil"></i>&nbsp;编辑</button>
                                        <button type="button" class="btn btn-danger btn-xs" onclick="recycle({$v.id},this);"><i class="fa fa-close"></i>&nbsp;删除</button>
                                    </td>
                                </tr>
                                {/foreach}
                                {else/}
                                <tr><td colspan="9" style="text-align:center; font-size:14px;">没有找到相关数据</td></tr>
                                {/if}
                            </tbody>
                        </table>
                        <div class="row"><div class="pagination" style="float:right; margin-right:20px;">{$page}</div></div>