<!-- 引入多语言切换的js -->
<script src="https://res.zvo.cn/translate/translate.js"></script>
<script>
    translate.setUseVersion2(); //设置使用v2.x 版本
    translate.selectLanguageTag.show = false;
    translate.execute();//进行翻译
</script>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>头像</th>
            <th>ID/用户名</th>
            <th>真实姓名</th>
            <th>手机号</th>
            <th>微信号</th>
            <th>分销商等级</th>
            <th>累计佣金</th>
            <th>下级分销商人数</th>
            <th>审核状态</th>
            <th>成为分销商时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {if condition="$list->isEmpty() == false"}
        {foreach name="list" item="v"}
        <tr>
            <td><img src="{$v.headimgurl}" class="well no-margins no-padding w70 h70" /></td>
            <td>ID:{$v.user_id}<br>{$v.user_name}</td>
            <td>{$v.real_name}</td>
            <td>{$v.phone}</td>
            <td>{$v.wxnum}</td>
            <td>{$v.grade_name}</td>
            <td>{$v.commission}</td>
            <td>{$v.total_user}</td>
            <td>
                {if condition="$v['status'] eq 0"}
                <button class="btn btn-danger btn-xs" type="button">审核拒绝</button>
                {elseif condition="$v['status'] eq 1"}
                <button class="btn btn-default btn-xs" type="button">待审核</button>
                {elseif condition="$v['status'] eq 2"}
                <button class="btn btn-primary btn-xs" type="button">审核通过</button>
                {/if}
            </td>
            <td>{$v.create_time|date="Y-m-d H:i:s",###}</td>
            <td>
                <a href="{:url('DistributionUser/edit',array('user_id'=>$v['user_id']))}" class="btn btn-primary btn-xs">&nbsp;分销商详情</a>
                <a href="{:url('DistributionUser/info',array('user_id'=>$v['user_id']))}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i>&nbsp;下级用户</a>
                <a href="{:url('distribution_order/lst',array('user_id'=>$v['user_id']))}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i>&nbsp;分佣明细</a>
            </td>
        </tr>
        {/foreach}
        {else/}
        <tr><td colspan="10" style="text-align:center; font-size:14px;">没有找到相关数据</td></tr>
        {/if}
    </tbody>
</table>
<div class="row"><div class="pagination" style="float:right; margin-right:20px;">{$page}</div></div>