<script>
    var pnum = {$pnum};

    {if condition="(!isset($search)) OR (!$search)"}
    var search = 0;
    var goUrl = "/{$Request.module}/getgoods/lst.html?page="+pnum;
    {else/}
        var search = {$search};
        var goUrl = "/{$Request.module}/getgoods/search.html?page="+pnum;
        {/if}
            $(function(){
                $("#checkAll").click(function () {
                    $("input[class='text_id']:checkbox").prop("checked", this.checked);
                });
            });

</script>
<!-- 引入多语言切换的js -->
<script src="https://res.zvo.cn/translate/translate.js"></script>
<script>
    translate.setUseVersion2(); //设置使用v2.x 版本
    translate.selectLanguageTag.show = false;
    translate.execute();//进行翻译
</script>

<table id="sort" class="table table-hover table-bordered">
    <thead>
    <tr>
        <th style="width:5%"><input type="checkbox" id="checkAll"/></th>
        <th style="width:25%">商品名称</th>
        <th style="width:20%">缩略图</th>
        <th style="width:20%">所属分类</th>
        <th style="width:15%">金额</th>
        <th style="width:15%">操作</th>
    </tr>
    </thead>
    <tbody id="goods_table">
    {if condition="$list->isEmpty() == false"}
    {foreach name="list" item="v"}
    <tr>
        <td><input type="checkbox" class="text_id" name="goods_id[]" value="{$v.id}" /></td>
        <td>{$v.goods_name}</td>
        <td><img src="{$v.thumb_url}" width="100px" height="100px" onerror="this.src='__PUBLIC__/admin/img/nopic.jpg'" /></td>
        <td>{$v.cate_name}</td>
        <td>{$v.shop_price}</td>
        <td>
            <button type="button" class="btn btn-danger btn-xs" onclick="$(this).parent().parent().remove();"><i class="fa fa-close"></i>&nbsp;移除</button>
        </td>
    </tr>
    {/foreach}
    {else/}
    <tr><td colspan="7" style="text-align:center; font-size:14px;">没有找到相关数据</td></tr>
    {/if}
    </tbody>
</table>
<div class="row"><div class="pagination" style="float:right; margin-right:20px;">{$page}</div></div>
{if condition="!empty($type) && $type eq 1"}
<div class="form-group">

    <label class="col-sm-2 control-label">是否上架：</label>
    <div class="col-sm-6 radio-1">
        <label class="radio-inline"><input type="radio" checked="checked" name="onsale" value="1">是</label>
        <label class="radio-inline"><input type="radio" name="onsale" value="0">否</label>
    </div>
</div>
</br>
<!--下面的注释不要删除，是后台插件商品改价的标签 删除之后安装改价插件了不会生效-->
<!--商品改价-->

{/if}
<br>
<div>
    <button type="button" class="btn btn-primary" onclick="select_goods();">提交</button>
    {if condition="!empty($type) && $type eq 1"}
    <button type="button" class="btn btn-primary" onclick="copygoods();">一键全部提交</button>
    {/if}
</div>

<script>
    $(function () {
        $('#scale').show();
        $('#regular').hide();
    });
    function set_type(e){
        if(e.value == 1){
            $('#scale').show();
            $('#regular').hide();
        }else if(e.value == 0){
            $('#scale').hide();
            $('#regular').show();
        }
    }
</script>

<script>
    function select_goods(){
        {if condition="!empty($type) && $type eq 1"}
        if($('input[class=text_id]:checked').length == 0){
            layer.msg('请选择商品', {icon: 2,time: 1000});
            return false;
        }
        var goods_id = [];
        var ids = $('input[class=text_id]:checked');
        for(i=0;i<ids.length;i++){
            if(ids[i].checked){
                goods_id.push(ids[i].value);
            }
        }
        goods_id = goods_id.join(",");
        var onsale = $("input[name='onsale']:checked").val();
        var type = $("input[name='type']:checked").val();
        if(type == 0){
            var num = $("input[name='scale']").val();
        }else if(type == 1){ var num = $("input[name='regular']").val();}

        if(type){
            copygoods(goods_id,onsale,type,num)
        }else{
            copygoods(goods_id,onsale)
        }
        {else}

        if($('input[class=text_id]:checked').length == 0){
            layer.msg('请选择商品', {icon: 2,time: 1000});
            return false;
        }
        //将没选中的复选框所在的  tr  remove  然后隐藏复选框
        $('input[class=text_id]:checkbox').each(function(){
            var checked = $(this).prop('checked');
            if(!checked){
                $(this).parent().parent().remove();
            }else{
                $(this).parent().css('display','none');
                $(this).attr("checked","checked");
            }
        });
        javascript:window.parent.call_backgoods($('#goods_table').html());
        {/if}
        }
        function copygoods(goods_id,onsale,type,num){
            layer.msg('操作中，请耐心等候...', {
                icon: 16,
                shade: 0.1,
                time: 100 * 10000
            });
            $.ajax({
                url: "{:url('goods/copyGoods')}",
                type: 'POST',
                data: {'goods_id': goods_id,'onsale':onsale,'type':type,'num':num},
                dataType: 'json',
                success: function (data) {
                    if (data.status == 1) {
                        layer.confirm(data.mess, {
                            skin: 'layui-layer-molv',
                            closeBtn: 0,
                            shadeClose: true,
                            btn: ['确定', '取消'] //按钮
                        }, function () {
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                            parent.location.href = "{:url('goods/lst')}";
                        });

                    } else if(data.status == 2){
                        layer.closeAll('loading');
                        layer.msg(data.mess, {icon: 1,time: 1000}, function(){
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                            parent.location.href = "{:url('goods/lst')}";
                        });


                    }else if(data.status == 0){
                        layer.closeAll('loading');
                        layer.msg(data.mess, {icon: 2,time: 1000});
                    }
                },
                error: function () {
                    layer.closeAll('loading');
                }
            });
        }


</script>