<!--
 * @Descripttion: 
 * @Author: cbing
 * @Date: 2019-06-10 14:42:00
 * @LastEditors: cbing
 * @LastEditTime: 2019-08-24 18:15:04
 -->
<script>
    var pnum = {$pnum};
    {if condition="(!isset($search)) OR (!$search)"}
    var search = 0;
    var goUrl = "/{$Request.module}/member/lst.html?page="+pnum;
    {else/}
        var search = {$search};
        var goUrl = "/{$Request.module}/member/search.html?page="+pnum;
        {/if}
</script>
<!-- 引入多语言切换的js -->
<script src="https://res.zvo.cn/translate/translate.js"></script>
<script>
    translate.setUseVersion2(); //设置使用v2.x 版本
    translate.selectLanguageTag.show = false;
    translate.execute();//进行翻译
</script>
<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <th style="width:5%">ID</th>
        <th style="width:5%">头像</th>
        <th style="width:10%">用户名</th>
        <th style="width:10%">手机号</th>
        <th style="width:10%">邮箱</th>
        <th style="width:10%">钱包金额</th>
        <th style="width:10%">注册方式</th>
        <th style="width:10%">注册终端</th>
        <th style="width:10%">注册时间</th>
        <th style="width:5%">正常/禁用</th>
        <th style="width:15%">登录IP</th>
        <th style="width:5%">正常/注销</th>
        <th style="width:10%">操作</th>
    </tr>
    </thead>
    <tbody>
    {if condition="$list->isEmpty() == false"}
    {foreach name="list" item="v"}
    <tr>
        <td>{$v.id}</td>
        <td><img src="{$v['headimgurl']}" class="well no-padding no-margins" style="width: 50px; height: 50px;"/></td>
        <td>{if condition="$v['user_name']"}{$v['user_name']}{else/}/{/if}</td>
        <td>{:mix_phone($v['phone'])}</td>
        <td>{$v['email']}</td>
        <td>{$v.price}&nbsp;元</td>
        <td>{if condition="$v['register_type'] eq 1"}手机号注册{elseif condition="$v['register_type'] eq 2"/}验证码注册{elseif condition="$v['register_type'] eq 3"/}微信注册{elseif condition="$v['register_type'] eq 4"/}本机号码一键注册{elseif condition="$v['register_type'] eq 5"/}邮箱注册{else}后台添加{/if}</td>
        <td>{$v.register_client}</td>
        <td>{:date('Y-m-d H:i:s',$v['regtime'])}</td>
        <td>
            {switch name="v.checked"}
            {case value="0"}
            <button class="btn btn-danger btn-xs" type="button" onclick="changeTableVal({$v.id},'checked',this);"><i class="fa fa-times"></i></button>
            {/case}
            {case value="1"}
            <button class="btn btn-primary btn-xs" type="button" onclick="changeTableVal({$v.id},'checked',this);"><i class="fa fa-check"></i></button>
            {/case}
            {/switch}
        </td>
        <td>{$v.last_login_ip ? $v.last_login_ip : "Unknown"}</td>
        <td>
            {switch name="v.is_cancel"}
            {case value="0"}
            <button class="btn btn-danger btn-xs" type="button" onclick="changeTableVal({$v.id},'is_cancel',this);"><i class="fa fa-times"></i></button>
            {/case}
            {case value="1"}
            <button class="btn btn-primary btn-xs" type="button" onclick="changeTableVal({$v.id},'is_cancel',this);"><i class="fa fa-check"></i></button>
            {/case}
            {/switch}
        </td>
        <td>
            <button type="button" class="btn btn-primary btn-xs" onclick="edit({$v.id},this);"><i class="fa fa-pencil"></i>&nbsp;编辑</button>
            <button type="button" class="btn btn-primary btn-xs" onclick="qianbaomx({$v.id},this);"><i class="fa fa-paste"></i>&nbsp;钱包明细</button>
            <button type="button" class="btn btn-primary btn-xs" onclick="addbalance({$v.id},this);"><i class="fa fa-paste"></i>&nbsp;余额充值</button>
            <button type="button" class="btn btn-primary btn-xs" onclick="addintegral({$v.id},this);"><i class="fa fa-paste"></i>&nbsp;积分充值</button>
            <button type="button" class="btn btn-primary btn-xs" onclick="address({$v.id},this);"><i class="fa fa-paste"></i>&nbsp;收货地址</button>
            <button type="button" class="btn btn-success btn-xs" onclick="getyhorder({$v.id},this);"><i class="fa fa-paste"></i>&nbsp;查看订单</button>
        </td>
    </tr>
    {/foreach}
    {else/}
    <tr><td colspan="8" style="text-align:center; font-size:14px;">没有找到相关数据</td></tr>
    {/if}
    </tbody>
</table>
<div class="row"><div class="pagination" style="float:right; margin-right:20px;">{$page}</div></div>