<script>
	var pnum = {$pnum};
	{if condition="(isset($filter)) AND ($filter)"}
	var filter = {$filter};
	{/if}
	{if condition="(!isset($search)) OR (!$search)"}
	var search = 0;
	var goUrl = "/{$Request.module}/rz_order/lst/filter/"+filter+".html?page="+pnum;
	{else/}
	var search = {$search};
	var goUrl = "/{$Request.module}/rz_order/search.html?page="+pnum;
	{/if}
</script>
<!-- 引入多语言切换的js -->
<script src="https://res.zvo.cn/translate/translate.js"></script>
<script>
    translate.setUseVersion2(); //设置使用v2.x 版本
    translate.selectLanguageTag.show = false;
    translate.execute();//进行翻译
</script>
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th style="width:15%">订单号</th>
                                    <th style="width:10%">状态</th>
                                    <th style="width:10%">联系人</th>
                                    <th style="width:10%">手机号</th>
                                    <th style="width:10%">总金额</th>
                                    <th style="width:20%">省市区</th>
                                    <th style="width:15%">提交时间</th>
                                    <th style="width:10%">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            {if condition="$list->isEmpty() == false"}
							{foreach name="list" item="v"} 
                                <tr>
                                    <td>{$v.ordernumber}</td>
                                    <td>
                                    {switch name="v.state"}
                                    {case value="0"}
                                        {if condition="$v.zf_type eq 0"}
                                        <span style="color:#1c84c6;">待支付</span>
                                        {else}
                                        <span style="color:#1c84c6;">待审核支付</span>
                                        {/if}
                                    {/case}
                                    {case value="1"}<span style="color:#1992FC;">已支付</span>{/case}
                                    {/switch}
                                    </td>
                                    <td>{$v.contacts}</td>
                                    <td>{:mix_phone($v.telephone)}</td>
                                    <td>{$v.total_price}&nbsp;元</td>
                                    <td>{$v.pro_name}&nbsp;{$v.city_name}&nbsp;{$v.area_name}</td>
                                    <td>{:date('Y-m-d H:i:s',$v['addtime'])}</td>
                                    <td><button type="button" class="btn btn-info btn-xs" onclick="orderinfo({$v.id},this);"><i class="fa fa-paste"></i>&nbsp;{if condition="$v.state eq 0 && $v.zf_type neq 0 "}审核支付{else}详细{/if}</button></td>
                                </tr>
							{/foreach}
							{else/}
							<tr><td colspan="8" style="text-align:center; font-size:14px;">没有找到相关数据</td></tr>
							{/if}						
                            </tbody>
                        </table>
                        <div class="row"><div class="pagination" style="float:right; margin-right:20px;">{$page}</div></div>