<!-- 引入多语言切换的js -->
<script src="https://res.zvo.cn/translate/translate.js"></script>
<script>
    translate.setUseVersion2(); //设置使用v2.x 版本
    translate.selectLanguageTag.show = false;
    translate.execute();//进行翻译
</script>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>标题</th>
            <th>简介</th>
            <th>点赞数</th>
            <th>状态</th>
            <th>关联商家</th>
            <th>关联商品</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {if condition="$list->isEmpty() == false"}
        {foreach name="list" item="v"}
        <tr>
            <td>{$v.title}</td>
            <td>{$v.describe}</td>
            <td>{$v.praise_num}</td>
            <td>
                {if condition="$v['status'] eq 0"}
                <button class="btn btn-primary btn-xs" type="button">待审核</button>
                {elseif condition="$v['status'] eq 1"}
                <button class="btn btn-primary btn-xs" type="button">审核通过</button>
                {elseif condition="$v['status'] eq 2"}
                <button class="btn btn-danger btn-xs" type="button">审核拒绝</button>
                {/if}
            </td>
            <td>{$v.shop_name}</td>
            <td>{$v.goods_name}</td>
            <td>{:date('Y-m-d H:i:s',$v.create_time)}</td>
            <td>
                <a href="{:url('Video/edit',array('id'=>$v['id']))}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i>&nbsp;编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-danger btn-xs" onclick="delone({$v.id}, this);"><i class="fa fa-close"></i>&nbsp;删除</button></td>
            </td>
        </tr>
        {/foreach}
        {else/}
        <tr><td colspan="8" style="text-align:center; font-size:14px;">没有找到相关数据</td></tr>
        {/if}
    </tbody>
</table>
<div class="row"><div class="pagination" style="float:right; margin-right:20px;">{$page}</div></div>