<script>
	var pnum = {$pnum};
	{if condition="(isset($filter)) AND ($filter)"}
	var filter = {$filter};
	{/if}
	{if condition="(!isset($search)) OR (!$search)"}
	var search = 0;
	var goUrl = "/{$Request.module}/shops/lst/filter/"+filter+".html?page="+pnum;
	{else/}
	var search = {$search};
	var goUrl = "/{$Request.module}/shops/search.html?page="+pnum;
	{/if}
</script>
<!-- 引入多语言切换的js -->
<script src="https://res.zvo.cn/translate/translate.js"></script>
<script>
    translate.setUseVersion2(); //设置使用v2.x 版本
    translate.selectLanguageTag.show = false;
    translate.execute();//进行翻译
</script>
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th style="width:5%">id</th>
                                    <th style="width:10%">店铺名称</th>
                                    <th style="width:10%">代理商名称</th>
                                    <th style="width:10%">行业</th>
                                    <th style="width:10%">联系人</th>
                                    <th style="width:10%">手机号</th>
                                    <th style="width:10%">钱包</th>
                                    <th style="width:15%">省市区</th>
                                    <th style="width:15%">入驻时间</th>
                                    <th style="width:5%">正常/关闭</th>
                                    <th style="width:15%">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            {if condition="$list->isEmpty() == false"}
							{foreach name="list" item="v"} 
                                <tr>
                                    <td>{$v.id}</td>
                                    <td>{$v.shop_name}</td>
                                    <td>{$v.user_name?$v.user_name:'-';}</td>
                                    <td>{$v.industry_name}</td>
                                    <td>{$v.contacts}</td>
                                    <td>{:mix_phone($v.telephone)}</td>
                                    <td>{$v.price}&nbsp;元</td>
                                    <td>{$v.pro_name}&nbsp;{$v.city_name}&nbsp;{$v.area_name}</td>
                                    <td>{:date('Y-m-d H:i:s',$v['addtime'])}</td>
                                    <td>
                                    {switch name="v.open_status"}
                                    {case value="1"}
                                    <button class="btn btn-primary btn-xs" type="button" onclick="changeTableVal({$v.id},'open_status',this);"><i class="fa fa-check"></i></button>
                                    {/case}
                                    {case value="0"}
                                    <button class="btn btn-danger btn-xs" type="button" onclick="changeTableVal({$v.id},'open_status',this);"><i class="fa fa-times"></i></button>
                                    {/case}
                                    {/switch}
                                    </td>
                                    <td>
                                    <button type="button" class="btn btn-info btn-xs" onclick="shopsinfo({$v.id},this);"><i class="fa fa-paste"></i>&nbsp;详细</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button type="button" class="btn btn-info btn-xs" onclick="shopsedit({$v.id},this);"><i class="fa fa-paste"></i>&nbsp;编辑</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="button" class="btn btn-success btn-xs" onclick="shopadmin({$v.id},this);"><i class="fa fa-paste"></i>&nbsp;商家账号信息</button>
                                    <button type="button" class="btn btn-success btn-xs" onclick="shopsaccount({$v.id},this);"><i class="fa fa-paste"></i>&nbsp;结算设置</button>
                                        <button type="button" class="btn btn-primary btn-xs" onclick="addbalance({$v.id},this);"><i class="fa fa-paste"></i>&nbsp;余额充值</button>
                                    </td>
                                </tr>
							{/foreach}
							{else/}
							<tr><td colspan="10" style="text-align:center; font-size:14px;">没有找到相关数据</td></tr>
							{/if}						
                            </tbody>
                        </table>
                        <div class="row"><div class="pagination" style="float:right; margin-right:20px;">{$page}</div></div>